.leaflet-container {
    width: 90%;
    height: 90%;
    border-radius:25px;
    margin: 1.5rem 0 0 1.6rem;
}

.sideList {
    overflow-y: scroll;
}

.sideList -webkit-scrollbar-track {
    border-radius: 15%;
}

.sideList -webkit-scrollbar {
}

.sideList -webkit-scrollbar-thumb {
}